
.row-fluid
  .span3

.row-fluid
  .span12
    .span1
      %table.side_menu
        %tr
          %td Inbox
        %tr
          %td Gmail
        %tr
          %td Facebook
        %tr
          %td Twitter
    - if @emails
      .span10
        %table.main
          %tr.header
            %th Sender
            %th Subject
            %th Body
            %th Date/Time
          - @emails.each do |email|
            %tr
              %td
                = email.from
              %td
                = email.subject
              %td
                = email.body
              %td
                = email.received

    -if @twitter_timeline
      .span10
        %table.main
          .row-fluid
            %tr.header
              %th Twitter
            - @twitter_timeline.each do |tweet|
              %tr
                %td
                  .span1
                    = image_tag tweet.profile_image_url
                  .text-left.span3
                    = "@#{tweet.screen_name}"
                  .span5
                  .text-right.span3
                    = Tweet.format_time(tweet.received_at)
                  .span11
                    .text-left
                      = auto_link(tweet.text, :html => { :target => '_blank' })
