
.row-fluid
  .span3

.row-fluid
  .span12
    .span2
      %table.side_menu
        %tr
          %td Inbox
        %tr
          %td Gmail
        %tr
          %td Facebook
        %tr
          %td Twitter
  - if @emails
    .span10
      %table.main
        %tr.header
          %th email
        - @emails.each do |email|
          %tr
            %td
              = email.subject

            %td
              = email.body
            %td
              = email.from
            %td
              = email.received

  -if @timeline
    .span10
      %table.main
        %tr.header
          %th Sender
          %th Message
          %th Date/Time
        - @timeline.each do |tweet|
          %tr
            %td
              = tweet[:user][:screen_name] 
              .br
              = image_tag tweet[:user][:profile_image_url_https]
            %td
              = auto_link(tweet[:text], :html => { :target => '_blank' })
            %td
              = tweet[:created_at]



- paginate @timeline if @timeline != nil
