.row-fluid
  .span3

.row-fluid
  .span12
    .span1

    -if @timeline
      .span10
        %table.main
          .row-fluid
            %tr.header
              %th Inbox
            - @timeline.each do |message|
              - if message.kind_of?(Email)
                %tr
                  %td
                    .image.span1
                      = image_tag 'gmail.png'
                    .sender.text-left.span3
                      = auto_link(message.from)
                    .span5
                    .text-right.span3
                      = Feed.format_time(message.received_at)
                    .span11
                      .body.text-left.message
                        = message.subject
                        .br
                        = auto_link(message.body, :html => { :target => '_blank' })
              - else
                %tr
                  %td
                    .image.span1
                      = image_tag message.profile_image_url
                    .sender.text-left.span3
                      = "@#{message.screen_name}"
                    .span5
                    .text-right.span3
                      = Feed.format_time(message.received_at)
                    .span11
                      .body.text-left
                        = auto_link(message.text, :html => { :target => '_blank' })

      .text-center.span12
        = paginate @timeline
