
.row-fluid
  .span3

.row-fluid
  .span12
    .span1
      %table.side_menu
        %tr
          %td Inbox
        %tr
          %td Gmail
        %tr
          %td Facebook
        %tr
          %td Twitter
    - if @emails
      .span11
        %table.main
          %tr.header
            %th Sender
            %th Subject
            %th Body
            %th Date/Time
          - @emails.each do |email|
            %tr
              %td
                = email.from
              %td
                = email.subject
              %td
                = email.body
              %td
                = email.received

      -if @twitter_timeline
        .span11
          %table.main
            %tr.header
              %th Sender
              %th Message
              %th Date/Time
            - @twitter_timeline.each do |tweet|
              %tr
                %td
                  = tweet.screen_name
                  .br
                  = image_tag tweet.profile_image_url
                %td
                  = auto_link(tweet.text, :html => { :target => '_blank' })
                %td
                  = tweet.received_at
