!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= 'Feed Engine'
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .splash-title
      = image_tag 'onewall.gif'
    .splash-message
      %h3 Your feeds are so ugly they're cute!
    .splash-title
      = image_tag 'ugly_dog.jpeg'
    .sign-in-button
      = link_to image_tag('Google-login-button.png'), "/auth/google_oauth2"
